.columns{
  border: 1px solid black; 
  border-radius: 10px;
  height: 400px;
  text-align: center;
  justify-content: center;
}
.section{
  border: 1px solid black;}

  .heading{
    height: 100px;
  }
  .cat{
    text-align: center;
    border: none;
    
  }

  .kiya{
    height: 100px;
  }
  .jk{
    height: 50px;
  }
  .jx{
    height: 50px;
  }
  .as{
    height:50px;
  
    border-radius: 10px;
  }